# Borgmatic Configuration

# Environment

TIMEZONE=Etc/UTC
BORG_PASSPHRASE=add_long_password

# Volumes

BACKUP_SOURCE=/home
BACKUP_REPOSITORY=./data/repository
BORGMATIC_D=./data/borgmatic.d
BORGMATIC_CONFIG=./data/.config/borgmatic
BORGMATIC_CACHE=./data/.cache/borgmatic
BORGMATIC_STATE=./data/.state/borgmatic
BORGMATIC_SSH=./data/.ssh
