# Mealie Configuration

# General

TIMEZONE=Etc/UTC

# Ports

MEALIE_PORT=9925

# Environment

PUID=1000
PGID=1000
URL=https://mealie.yourdomain.com
POSTGRES_USER=mealie
POSTGRES_PASSWORD=mealie
POSTGRES_PORT=5432
POSTGRES_DB=mealie
PGUSER=mealie

# Volumes

MEALIE_DATA=mealie-data
MEALIE_PGDATA=mealie-pgdata
