# Git Configuration

# Ports

FORGEJO_HTTP_PORT=3000

# Environment

USER_UID=1000
USER_GID=1000
TIMEZONE=Etc/UTC
FORGEJO_DB_PASSWORD=forgejo

# Volumes

FORGEJO_DATA=./forgejo
FORGEJO_DB_DATA=./postgres
