# Books Configuration

# Environment

PUID=1000
PGID=1000
TIMEZONE=Etc/UTC

# Volumes

CALIBRE_CONFIG=/path/to/calibre/config
CALIBRE_LIBRARY=/path/to/calibre/library
CALIBRE_PLUGINS=/path/to/calibre/plugins
CALIBREWEB_CONFIG=/path/to/calibre-web/data
KAVITA_CONFIG=/path/to/kavita/config
KAVITA_LIBRARY=/path/to/data

# Ports

CALIBRE_PORT_HTTP=8080
CALIBRE_PORT_HTTPS=8181
CALIBRE_PORT_WEBSERVER=8081
CALIBREWEB_PORT=8083
KAVITA_PORT=5000
