# Search Configuration

# Ports
SEARXNG_PORT=8080

# Volumes
SEARXNG_CONFIG=./core-config
SEARXNG_DATA=./core-data
SEARXNG_DB_DATA=./valkey-data

# Environment
SEARXNG_BASE_URL=https://yourdomain.com
SEARXNG_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
