# Backup Configuration

# Ports

PORT=51515

# Command

KOPIA_UI_USER=USERNAME
KOPIA_UI_PASS=SECRET_PASSWORD

# Environment

KOPIA_PASSWORD=CHANGE_PASSWORD
TIMEZONE=Etc/UTC

# Volumes

KOPIA_CONFIG_PATH=/path/to/config/dir
KOPIA_CACHE_PATH=/path/to/cache/dir
KOPIA_LOG_PATH=/path/to/logs/dir
KOPIA_LOCAL_PATH=/path/to/data/dir
KOPIA_REPOSITORY_PATH=/path/to/repository/dir
KOPIA_TMP_PATH=/path/to/tmp/dir
