# Backup Configuration

# Ports

PORT=51515

# Command

KOPIA_UI_USER=USERNAME
KOPIA_UI_PASS=SECRET_PASSWORD

# Environment

TIMEZONE=Etc/UTC
KOPIA_PASSWORD=CHANGE_PASSWORD
BORG_PASSPHRASE=add_long_password

# Volumes

KOPIA_CONFIG_PATH=/path/to/config/dir
KOPIA_CACHE_PATH=/path/to/cache/dir
KOPIA_LOG_PATH=/path/to/logs/dir
KOPIA_LOCAL_PATH=/path/to/data/dir
KOPIA_REPOSITORY_PATH=/path/to/repository/dir
KOPIA_TMP_PATH=/path/to/tmp/dir

BACKUP_SOURCE=/home
BACKUP_REPOSITORY=./data/repository
BORGMATIC_D=./data/borgmatic.d
BORGMATIC_CONFIG=./data/.config/borgmatic
BORGMATIC_CACHE=./data/.cache/borgmatic
BORGMATIC_STATE=./data/.state/borgmatic
BORGMATIC_SSH=./data/.ssh
