# Filebrowser Configuration

# Ports

FILEBROWSER_PORT=80

# Environment

TIMEZONE=Etc/UTC

# Volumes

FILEBROWSER_FOLDER_PATH=/path/to/your/files
FILEBROWSER_DATA_PATH=./data
FILEBROWSER_TMP_PATH=./tmp
