# Media Configuration

# General

PUID=1000
PGID=1000
TIMEZONE=Etc/UTC

# Ports

JELLYFIN_PORT=8098

# Environment

PLEX_CLAIM=claim-<your-claim-code>
JELLYFIN_PUBLISHED_SERVER_URL=http://localhost

# Volumes

PLEX_CONFIG=/path/to/plex/library
PLEX_MEDIA=/path/to/media
PLEX_MOVIES=/path/to/movies
PLEX_TV=/path/to/tvseries
PLEX_MUSIC=/path/to/music
PLEX_TRANSCODE=/path/to/plex/transcode
JELLYFIN_CONFIG=./config
JELLYFIN_TRANSCODE=./transcode
JELLYFIN_MEDIA=/path/to/media
JELLYFIN_MOVIES=/path/to/movies
JELLYFIN_TV=/path/to/tvseries
JELLYFIN_MUSIC=/path/to/music
