# Speed-tracker Configuration

# Ports

SPEEDTEST_PORT_HTTP=80
SPEEDTEST_PORT_HTTPS=8443
LIBRESPEED_PORT=80

# Environment

PUID=1000
PGID=1000
TIMEZONE=Etc/UTC
APP_KEY=
DISPLAY_TIMEZONE=Etc/UTC
SPEEDTEST_SCHEDULE=0 0 * * *
SPEEDTEST_SERVERS=
LIBRESPEED_PASSWORD

# Volume

SPEEDTEST_CONFIG=/path/to/speedtest-tracker/data
LIBRESPEED_CONFIG=/path/to/librespeed/config
