# Authentik Configuration

# Ports

COMPOSE_PORT_HTTP=9000
COMPOSE_PORT_HTTPS=9443

# Environment

PG_DB=authentik
PG_USER=authentik
AUTHENTIK_SECRET_KEY=
PG_PASS=
AUTHENTIK_ERROR_REPORTING__ENABLED=true

# Volumes

AUTHENTIK_DATA=./data
AUTHENTIK_TEMPLATES=./custom-templates
AUTHENTIK_DATABASE=./postgresql/data
AUTHENTIK_CERTS=./certs
