# WUD Configuration

# Ports

WUD_PORT=3000

# Environment

TIMEZONE=Etc/UTC
WUD_TRIGGER_SMTP_EMAIL_HOST=
WUD_TRIGGER_SMTP_EMAIL_PORT=
WUD_TRIGGER_SMTP_EMAIL_USER=
WUD_TRIGGER_SMTP_EMAIL_PASS=
WUD_TRIGGER_SMTP_EMAIL_FROM=
WUD_TRIGGER_SMTP_EMAIL_TO=
