# Nextcloud AIO Configuration

# Ports

AIO_MANAGEMENT_PORT=8080

# Environment

NEXTCLOUD_DATADIR=/mnt/ncdata
APACHE_PORT=11000
APACHE_IP_BINDING=0.0.0.0

# Prefer false unless you have a real reason
SKIP_DOMAIN_VALIDATION=false
