# Audiobooks Configuration

# Ports
AUDIOBOOKSHELF_PORT=13378

# Environment
TIMEZONE=Etc/UTC

# Volumes
AUDIOBOOKS=/path/to/audiobooks
PODCASTS=/path/to/podcasts
AUDIOBOOKSHELF_CONFIG=/path/to/config
AUDIOBOOKSHELF_METADATA=/path/to/metadata
