# Notes Configuration

# Ports

TRILIUM_PORT=8080
JOPLIN_PORT=22300
JOPLIN_DB_PORT=5432

# Environment

TIMEZONE=Etc/UTC
JOPLIN_BASE_URL=https://yourdomain.com
POSTGRES_PASSWORD=joplin
POSTGRES_DATABASE=joplin
POSTGRES_USER=joplin
POSTGRES_HOST=joplin-db

# Volumes

TRILIUM_DATA_DIR=/home/node/trilium-data
JOPLIN_DB_DIR=/path/to/joplin/postgres-data
