# Monitor Configuration

# General

PUID=1000
PGID=1000

# Ports

GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
NODE_EXPORTER_PORT=9100

# Environment

TIMEZONE=Etc/UTC

# Volumes

GRAFANA_DATA=./storage
GRAFANA_PROVISIONING=./provisioning
GRAFANA_DASHBOARDS=./dashboards
PROMETHEUS_CONFIG=./config
PROMETHEUS_DATA=./data
