# RomM Configuration

# General

TIMEZONE=Etc/UTC

# Ports

ROMM_PORT=80

# Environment

MARIADB_DATABASE=romm
MARIADB_USER=romm-user
MARIADB_PASSWD=
MARIADB_ROOT_PASSWORD=
ROMM_AUTH_SECRET_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
MOBYGAMES_API_KEY=
RETROACHIEVEMENTS_API_KEY=
STEAMGRIDDB_API_KEY=

# Volumes

ROMM_RESOURCES=romm_resources
ROMM_DATA=romm_redis_data
ROMM_LIBRARY=/path/to/library
ROMM_ASSETS=/path/to/assets
ROMM_CONFIG=/path/to/config
ROMM_MYSQL_DATA=mysql_data
