# Arr Configuration

# General

PUID=1000
PGID=1000
TIMEZONE=Etc/UTC

# Environment

VPN_SERVICE_PROVIDER=mullvad
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=ADD_PRIVATE_KEY
WIREGUARD_ADDRESSES=10.x.x.x/32
SERVER_CITIES=ADD_SERVER_CITY
DNS_KEEP_NAMESERVER=on
FIREWALL_INPUT_SUBNETS=your_lan_subnet
FIREWALL_OUTBOUND_SUBNETS=your_lan_subnet

# Ports

BAZARR_PORT=6767
LAZYLIBRARIAN_PORT=5299
LIDARR_PORT=8686
MYLAR_PORT=8090
OVERSEERR_PORT=5055
PROWLARR_PORT=9696
QBITTORRENT_WEBUI_PORT=8080
QBITTORRENT_TORRENT_PORT=6881
QBITTORRENT_UDP_PORT=6881
RADARR_PORT=7878
SABNZBD_PORT=8080
SONARR_PORT=8989

# Volumes

QBITTORRENT_CONFIG=/path/to/qbittorrent/appdata
QBITTORRENT_TORRENTS=/path/to/downloads
SABNZBD_CONFIG=./config/sabnzbd
SABNZBD_INCOMPLETE_DOWNLOADS=/downloads/incomplete
SABNZBD_DOWNLOADS=/storage/Downloads/complete
PROWLARR_CONFIG=/path/to/prowlarr/data
SONARR_CONFIG=/path/to/sonarr/data
SONARR_TV=/path/to/tvseries
SONARR_DOWNLOADS=/path/to/downloadclient-downloads
SONARR_TORRENTS=/path/to/downloadclient-torrents
RADARR_CONFIG=/path/to/radarr/data
RADARR_MOVIES=/path/to/movies
RADARR_DOWNLOADS=/path/to/download-client-downloads
RADARR_TORRENTS=/path/to/download-client-torrents
LIDARR_CONFIG=/path/to/lidarr/config
LIDARR_MUSIC=/path/to/music
LIDARR_DOWNLOADS=/path/to/downloads
LIDARR_TORRENTS=/path/to/torrents
LAZYLIBRARIAN_CONFIG=/path/to/lazylibrarian/data
LAZYLIBRARIAN_BOOKS=/path/to/data/
LAZYLIBRARIAN_DOWNLOADS=/path/to/downloads/
LAZYLIBRARIAN_TORRENTS=/path/to/torrents/
MYLAR_CONFIG=/path/to/mylar3/config
MYLAR_LIBRARY=/path/to/comics
COMICS_STAGING=/path/to/comics-staging
BAZARR_CONFIG=./config
BAZARR_MOVIES=/path/to/movies
BAZARR_TV=/path/to/tv
OVERSEERR_CONFIG=./config
